body{
    margin: 0;
}

/* Styling the first container */
.first_container{
    background: black;
    text-align: left;
    position: relative;
}

.first_container img{
    width: 100%;
}

.fc_text{
    color: wheat;
    text-align: left;
    position: absolute;
    top: 30%;
    right: 50%;
    /* Styling font */
    font-family: 'Crimson Text', serif;
    font-size: 50px;
    
}
.redText 
{ 
    color: red; 
} 

.first_container hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

/* Styling the second container */
.second_container{
    background: black;
    text-align: center;
    position: relative;
}

.second_container img{
    width: 100%;
}
.second_container h1{
    color: rgb(136, 48, 48);
    line-height: 0;
    padding: 40px;
    text-align: center;
    top: 250%;
    right: 250%;
    /* Styling font */
    font-family: 'Anton', sans-serif;
}

#br_1{
    font-size: 55px;
}

#br_2{
    font-size: 40px;
    margin-top: 0px;
}

#br_3{
    margin-top: 0px;
}

#br_4{
    margin-top: 0px;
    font-size: 35px;
}

/* Styling the third container */


.third_container{
    background-color: #adb93b;
    color: #b93b99;
    padding-bottom: 4px;
    padding-top: 1px;
}

.third_container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 110%;
}

.third_container h1{
    color: blue;
   text-align: center;
    position: relative;
    top: 30%;
    right: 150%;
    /* Styling font */
    font-family: 'Reenie Beanie', Sansita Swashed;
    font-family: 'League Script', cursive;
} 